{% load static%}
<!DOCTYPE html>

<html>
    {% include 'header.html' %}


<body class="blue-grey lighten-5">

  
      {% include 'navbar.html' %}
      

      
    <!--Success message shown here from django...-->

    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    <script>
                        window.onload = function(){ alert('{{message}}');}          
                    </script>
                {% endfor %}
            </ul>
    {% endif %}



    <!--##################################################################################################################-->
    <!--                                             tESTING NEW FEATURES HERE                                            -->
    
 

    <!--##################################################################################################################-->
     
    <!--Carousel-->
    <div class="carousel carousel-slider center z-depth-0">
        
        <div class="row">

        <div class="carousel-item teal lighten-4 grey-text text-darken-3" href="#one!">
            <div class="col sm12 m6 l6">
                <h1></h1>
                <p class="custom-font">"The Ballot is Stronger than the Bullet."</p>                
                <h6 class="pink-text text-darken-4 right-align person">-ABRAHAM LINCOLN</h6>
            </div>
            <div class="col s12 m6 l6 ">
                <img class="length right-aligned" src="/static/team_collaboration.svg">
            </div>

        </div>    
        </div>
        
        <div class="row">
        <div class="carousel-item teal lighten-4 grey-text text-darken-3" href="#two!">
            <div class="col sm12 m6 l6">
                <h1></h1>
                <p class="grey-text text-darken-3 custom-font">"You are casting a vote for the kind of world you want."</p>
                <h6 class="pink-text text-darken-4 right-align person">-ANNE LAPPE</h6>
            </div>
            <div class="col sm12 m6 l4">
                <img class="length right-aligned" src="/static/completed_tasks.svg">
            </div>
        </div>
       </div>
        
       <div class="row">
        <div class="carousel-item teal lighten-4 grey-text text-darken-3" href="#three!">
            <div class="col sm12 m6 l6">
                <p class="grey-text text-darken-3 custom-font">"We donot have government by the Majority.
                We have government by the majority who participate."</p>
                <h6 class="pink-text text-darken-4 right-align person">-THOMAS JEFFERSON</h6>
            </div>
            <div class="col sm12 m6 l4"><img class="length right-aligned" src="/static/4.svg"></div>
        </div>
        </div>
        
        <div class="row">
        <div class="carousel-item teal lighten-4 grey-text text-darken-3" href="#four!">
            <div class="col sm12 m6 l6">
            <p class="grey-text text-darken-3 custom-font">"The right to vote is the right upon which all of our rights
            are leveraged and without which none can be protected."</p>
            <h6 class="pink-text text-darken-4 right-align person">-BENJAMIN TODD JEALOUS</h6>
            </div>
            <div class="col sm12 m6 l4"><img class="length right-aligned" src="/static/collaborators.svg"></div>
        </div>
        </div>
        
        <div class="row">
        <div class="carousel-item teal lighten-4 grey-text text-darken-3" href="#five!">
            <div class="col sm12 m6 l6">
                <h1></h1>
            <p class="grey-text text-darken-3 custom-font">"Be the change you want to see in the world."</p>
            <h6 class="pink-text text-darken-4 right-align person">-MAHATMA GANDHI</h6>
            </div>
            <div class="col sm12 m6 l4"><img class="length right-aligned" src="/static/scrum_board.svg"></div>
        </div>
        </div>
      </div>





    <!-- Body -->
    <!--[+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++]-->




    <!--Start of the container-->
    <!-- Body part 1 -->
    <div class="container">
        <h1></h1>
        <h4 class="teal-text center-align animate__animated animate__slideInDown" style="font-family: 'Monoton'; margin-top: 2rem;">JORHAT INSTITUTE OF SCIENCE AND TECHNOLOGY</h4>
        <h5 class="center-align teal-text animate__animated animate__fadeInUp annimate__slower animate__delay-1s">STUDENT BODY ELECTION</h5>
        <section class="container section scrollspy">

            <div class="row" style="margin-top: 2rem;">
<!--[++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++]-->





    <!--Jist section-->
              <div class="col s12 l4">
                <h4 class="text-darken-4 custom-print animate__animated animate__lightSpeedInRight animate__delay-2s"><i class="material-icons">hdr_strong</i> What we do!</h4>
                <!--<i class="material-icons prefix">create</i>-->
                  <p>We are "JISTSU" the Stduent Union Election Committee that holds the annual election of Jorhat Institute of science and technology...Here the students of JIST chooses their representative 
                    for the upcoming year ..</p>
                  <p>The various positions that are a part of this elections includes - President,Vice President,General Secretary,Cultural Secretary and many more...</p>
                  <p>Want to go to the present elections,click on "Register" and you are good to go.To register yourself, you must be a student of JIST </p>
              </div>
<!--[++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++]-->
            





    <!--Login and registration section-->
                <div class="col s12 l6 offset-l2">
                  <div class="offset-l2" style="display: flex; justify-content: center; align-items: center; margin-bottom: 1rem;">
                      <h1></h1>
                      <img class="length1 offset-l2" src="static/hire.svg" alt="Voting Image Loading" style="margin-left: auto; margin-right: auto;">
                      <h3></h3>
                  </div>
                <ul class="tabs z-depth-0">
                  <li class="tab col s6">
                    <a href="#registration" class="indigo-text text-darken-4">REGISTRATION</a>
                  </li>
                  <li class="tab col s6">
                    <a href="#login" class="indigo-text text-darken-4">LOGIN</a>
                  </li>
                </ul>
                <div class="col s12" id="registration">
                  <p class="flow-text custom-print"><i class="material-icons left ">hdr_weak</i>REGISTRATION</p>
                  <p>To be eligible to vote you must register youself first.</p>
                  <p>After the registration is over you can login, and you will be redirected to the Current Elections.</p>
                  <p>To register yourself, click below.</p>
                  <a class="waves-effect waves-purple btn z-depth-5 " data-position="right" data-tooltip="" href="/register" style="margin-top: 2rem;"><i class="material-icons left">person_add</i>Register</a>
                </div>
                <div class="col s12" id="login">
                  <p class="flow-text custom-print"><i class="material-icons left">hdr_weak</i>LOGIN</p>
                  <p>Before logging in make sure that you have registered yourself.</p>
                  <p>If you have already registered, click below to login.</p>
                  <p>You will need your registration credentials.</p>
                  <a class="waves-effect waves-purple btn z-depth-5 " data-position="right" data-tooltip="" href="/login" style="margin-top: 2rem;"><i class="material-icons left">fingerprint</i>Login</a>
                </div>
              </div>



            </div>
          </section>
    </div>
<!--[++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++]-->

    <!--Go to vote section-->

    <!--Body part 2-->
    <div class="container">
        <div class="row">
            <div class="col s10 m9 l4 offset-l2 offset-s2 offset-m3" style="display: flex;justify-content: center;align-items: center;">
                <img class="length1 right-align" src="static/sync.svg" alt="Candidate Table">
             </div>
            <div class="col s10 l4 offset-s1">
                <h5 class="left-align custom-print"><i class="material-icons left">hdr_strong</i>BALLOT</h5>
            <div class="black-text">
                <p>The ballot is where the various positions are shown for your selection.</p>
                <p>After you have decided whom to vote, select the Candidate Name. Read the agreement before Submitting.</p>
                <p>After everything selected, Click on the 'Submit'. Once you have submitted,there is no going back.</p>
                <p>Go to Voting,Click below.</p>
                <a href="vote" class="btn waves-effect waves-purple z-depth-5 " data-position="right" data-tooltip="" style="margin-top: 2rem;"><i class="material-icons left">touch_app</i> Vote</a>
            </div>
            </div>
            
        </div>
    </div>

<!--[++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++]-->

    <!--This is the about section-->

    <!-- Body part 3-->
    <div class="container">
        <div class="row">
            <div class="col s10 l4 offset-l2 offset-s1 hide-on-med-and-down">
                <h5 class="left-align custom-print"><i class="material-icons left">hdr_weak</i>ABOUT US</h5>
                <p>To know more about us just click below to go to the about page.</p>
                <p>There you will find more about the website and what are its operations.</p>
                <p>You can also find a link to know more about the developer.</p>
                <a href="/about" class="btn waves-effect waves-purple z-depth-5 " data-position="right" data-tooltip="" style="margin-top: 2rem;"><i class="material-icons white-text left">zoom_in</i>About</a>
            </div>

            <div class="col s10 l4 offset-l1 offset-m2 hide-on-med-and-down" style="margin-top: 4rem; display: flex;justify-content: center;align-items: center;">
                <img class="length1" src="static/about-1.svg" alt="about image">
            </div>

            <div class="col s10 l4 offset-l1 offset-m2 hide-on-med-and-up" style="margin-top: 2rem; margin-right: auto; margin-left: auto; display: flex;justify-content: center;align-items: center;">
                <img class="length1" src="static/about-1.svg" alt="about image">
            </div>

            <div class="col s10 l4 offset-l2 offset-s1 show-on-medium-and-down hide-on-med-and-up">
                <h5 class="left-align custom-print"><i class="material-icons left">hdr_weak</i>ABOUT US</h5>
                <p>To know more about us just click below to go to the about page.</p>
                <p>There you will find more about the website and what are its operations.</p>
                <p>You can also find a link to know more about the developer.</p>
                <a href="about" class="btn waves-effect waves-purple z-depth-5 " data-position="right" data-tooltip="" style="margin-top: 2rem;"><i class="material-icons left">zoom_in</i>About</a>
            </div>
        </div>
    </div>

<!--[+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++]-->

    <!--This is the go to contact form section..-->
    <!-- Body part 4-->

    <div class="container">
        <div class="row">
            <h1></h1>
            <div class="col s10 l4 offset-l2 offset-m2 offset-s1" style="margin-top: 4rem; display: flex;justify-content: center;align-items: center;">
                <img class="length1" src="static/contact_us.svg" alt="about image">
            </div>

            <div class="col s10 l4 offset-s1 offset-m1">
                <h5 class="left-align custom-print"><i class="material-icons left">hdr_strong</i>CONTACT US</h5>
                <p>Having difficulty in continuing, feel free to report us.</p>
                <p>If after registering, you are unable to *login. Write to us with your registered information in the Message
                    section of the contact form.
                </p>
                <p>If you think that you have found any vulnerability/bug, you can write to us.</p>
                <p>Click below to go to the contact form.</p>
                <a href="/contact" class="btn waves-effect waves-purple z-depth-5 " data-position="right" data-tooltip="" style="margin-top: 2rem;"><i class="material-icons left">headset_mic</i>Contact Us</a>
            </div>
        </div>
    </div>

    <!-- Body part 5-->
    <div class="container">
        <h1></h1>
        <div class="row" style="margin-bottom: 0px; margin-top: 0px;">
            <div class="col s12 m12 l12 center-align">
                <img class="last-image" src="static/graduation.svg" alt="Graduation Image Cartoon">
            </div>
        </div>
    </div>

    <!--signature-->
    <div class="row center-align" style="margin-bottom: 0px; margin-top: 0px;">
        <p class="grey-text" style="margin-bottom: 0px; margin-top: 0px; font-size: 10px">Made with<i class="material-icons" style="font-size: 10px;">favorite</i> by <span class="custom-print"> @hungryfoxz</span></p>
    </div>
    
<!--[++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++]-->
    
    <!--Include the footer from the footer.html-->
     {% include 'footer.html' %}

    <!--#################################################################################################################################-->
    <!-- Testing purpose -->
      

</body>
</html>