<!--Navbar-->
<header>
                   
    <ul id="dropdown1" class="dropdown-content">
        <li><a class="pink-text text-lighten-2" href="/"><i class="material-icons">store</i>Home</a></li>
        <li class="divider"></li>
        <li><a class="pink-text text-lighten-1" href="#!"><i class="material-icons">local_library</i>JIST</a></li>
        <li class="divider"></li>
        <li><a class="pink-text" href="/login"><i class="material-icons">fingerprint</i>Login</a></li>
        <li class="divider"></li>
        <li><a class="pink-text text-darken-1" href="/register"><i class="material-icons">person_add</i>Register</a></li>
        <li class="divider"></li>
        <li><a class="pink-text text-darken-2" href="/vote"><i class="material-icons">touch_app</i>Vote</a></li>
        <li class="divider"></li>
        <li><a class="pink-text text-darken-3" href="/about"><i class="material-icons">zoom_in</i>About</a></li>
        <li class="divider"></li>
        <li><a class="pink-text text-darken-4" href="/contact"><i class="material-icons">perm_phone_msg</i>Contact</a></li>
    </ul>

<nav>
<div class="nav-wrapper teal lighten-1">
<div class="container">
    <a href="/" class="brand-logo center-align main-logo">JISTSU</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-trigger waves-effect" href="#!" data-target="dropdown1">Navigation Menu<i class="material-icons right">expand_more</i></a></li>
    </ul>

    <ul class="sidenav" id="mobile-demo">
        <li><a class="purple-text text-lighten-2" href="/"><i class="purple-text text-lighten-2 material-icons">store</i>Home</a></li>
        <li class="divider"></li>
        <li><a class="purple-text text-lighten-1" href=#><i class="purple-text text-lighten-1 material-icons">local_library</i>JIST</a></li>
        <li class="divider"></li>
        <li><a class="purple-text" href="/login"><i class="purple-text material-icons">fingerprint</i>Login</a></li>
        <li class="divider"></li>
        <li><a class="purple-text text-darken-1" href="/register"><i class="purple-text text-darken-1 material-icons">person_add</i>Register</a></li>
        <li class="divider"></li>
        <li><a class="purple-text text-darken-2" href="/vote"><i class="purple-text text-darken-2 material-icons">touch_app</i>Vote</a></li>
        <li class="divider"></li>
        <li><a class="purple-text text-darken-3" href="/about"><i class="purple-text text-darken-3 material-icons">zoom_in</i>About</a></li>
        <li class="divider"></li>
        <li><a class="purple-text text-darken-4" href="/contact"><i class="purple-text text-darken-4 material-icons">perm_phone_msg</i>Contact</a></li>
        <li class="divider"></li>

    </ul>
</div>
</div>
</nav>
</header>
<!--End of Navbar-->